{%extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% endblock %}
    <div class="container">

        {% if user.is_authenticated %}
            <div class="add">
                <a href="{% url 'transaction' %}"><div class="btn btn-outline-info add"><i class="fas fa-plus"></i></div></a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="transact">
                        {% for transact in transactions %}
                            <div class="row shw">
                                <div class="col-6 name">{{ transact.name }}</div>
                                <div class="col-6 name">{{ transact.price }}</div>
                            </div>
                            <hr>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    {% if total is not None %}
                        <div class="total">
                            <div class="card tots">
                                <div class="card-header hehe">
                                    Total
                                </div>
                                <div class="card-body">
                                    <p class="center">{{ total }}</p>

                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>


        {% else %}
            not logged in
        {% endif %}
    <div class="row repo">
         <a href="{% url 'export' %}"><button class="btn btn-outline-info">Print report(csv)</button></a>
         <a href="{% url 'xls' %}"><button class="btn btn-outline-info">Print report(xls)</button></a>
    </div>

    </div>
{% endblock %}